<section id="content-receipt" class="clearfix">
      <div id="receipt-container">
        <div class="dotmatrix left"></div>
        <div id="receipt-content">
          <h4 id="receipt-title">Gracias!</h4>
          <p><strong>RECIBO</strong></p>
          <div id="receipt-details" class="row clearfix">
            <div class="col-sm-8 receipt-left">
              <p><strong class="font-weight-heavy">Tu Producto</strong><br/> <span class="font-weight-light">zfoto de Javi</span></p>
            </div>
            <div class="col-sm-4">
              $4.99
            </div>
          </div>

          <a href="https://s3-us-west-2.amazonaws.com/rails-payment/javi.jpg"><button type="button" class="btn btn-success btn-xs">DESCARGAR</button></a>
          <footer id="receipt-footer">
            <small>Tu compra se ha completado, esperamos disfrutes!!</small>
          </footer>
        </div>
        <div class="dotmatrix right"></div>
      </div>
      <div id="receipt-shadow"></div>
    </section>
